.ImageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .ImageCard {
    width: 300px;
    margin-bottom: 20px;
  }
  
  
.ImageCard:hover {
  background-color: #75f9f5; /* Change to your desired hover color */
}