<!DOCTYPE html>
<html>
<head>
    <title>ArrowSE</title>
    <style>
        .center-align {
            text-align: center;
        }

    </style>
</head>
<body>
    <h1>ArrowSE</h1>
    <form method="POST" action="/">
        <input type="text" name="query" placeholder="Search query">
        <input type="submit" value="Search">
    </form>
    <div class="center-align">
        {% if results %}
        <h4>Search Results</h4>
        <ul>
            {% for result in results %}
            <li>
                <a href="{{ result['link'] }}">{{ result['title'] }}</a><br>
                {{ result['snippet'] }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>    
</body>
</html>


